/* Dark scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Remove number input arrows */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
